on:
  push:
    paths:
      - 'onstage_entry_rules/**'
      - 'onstage_entry_scoresheets/**'
      - 'onstage_rules/**'
      - 'onstage_scoresheets/**'
      - 'preamble.tex'
      - 'committee_list.tex'
      - 'media/**'
      - 'general-rules/**'
      - 'onstage-entry-general-rules/**'

jobs:
  build:
    runs-on: ubuntu-20.04
    name: Build and Publish Documents

    steps:
      - name: Checkout repository with submodules
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Determine Changed Files
        id: changed-files
        uses: dorny/paths-filter@v2
        with:
          base: ${{ github.event.before }}
          filters: |
            onstage_entry_rules:
              - 'onstage_entry_rules/**'
              - 'preamble.tex'
              - 'committee_list.tex'
              - 'media/**'    
              - 'onstage-entry-general-rules/**'
            onstage_entry_scoresheets:
              - 'onstage_entry_scoresheets/**'
              - 'preamble.tex'
              - 'committee_list.tex'
              - 'media/**'
            onstage_rules:
              - 'onstage_rules/**'
              - 'preamble.tex'
              - 'committee_list.tex'
              - 'media/**'
              - 'general-rules/**'
            onstage_scoresheets:
              - 'onstage_scoresheets/**'
              - 'preamble.tex'
              - 'committee_list.tex'
              - 'media/**'

      - name: Build Documents
        env:
          DIRS: |
            onstage_entry_rules
            onstage_entry_scoresheets
            onstage_rules
            onstage_scoresheets
        run: |
          set -e
          for dir in $DIRS; do
            if [ "${{ steps.changed-files.outputs[$dir] }}" = "true" ]; then
              echo "Building $dir ..."
              rm -rf "dist/${GITHUB_REF#refs/heads/}/$dir"
              docker run -v "$(pwd):/documents" asciidoctor/docker-asciidoctor .ci/adoc-to-tex.sh "$dir"
              docker run -v "$(pwd):/documents" mrshu/texlive-dblatex .ci/tex-to-pdf.sh "$dir"
            fi
          done

      - name: Prepare Distribution Folder
        run: |
          mkdir -p dist/${GITHUB_REF#refs/heads/}/
          cp -R ./media rules_documents/* dist/${GITHUB_REF#refs/heads/}/

      - name: Publish to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          keep_files: true
